.form-container {
  background-color: #fff;
  padding: 1rem;
  height: 100%;
}

.form-container form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.form-container label {
  font-weight: 500;
}

.form-control option {
  font-size: 1em;
}

.check-boxes label {
  margin-right: 1rem;
  font-weight: 400;
}

.form-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.form-links a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}

.form-links a:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}

.form-links a:active {
  color: #0d47a1;
  text-decoration: underline;
}

.form-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-error-container h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-error-container ul {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form-error-container li {
  font-size: 0.8rem;
}
