<div class="item-card">
    <div class="item-meta">
        <div class="item-icon">💸</div>
        <div class="item-group">
            <h3 class="item-name"><%= expense.name %></h3>
            <p class="item-data">
                <%= expense.updated_at.to_datetime.strftime("%B %d, %Y") %>
            </p>
        </div>
    </div>
    <div class="item-group">
        <p class="item-value">
            <%= number_to_currency(expense.amount) %>
        </p>
        <%= button_to content_tag(:i, "", class: "fa-solid fa-square-minus") + "Remove", category_expense_path(category, expense), method: :delete, class: 'cat-action del-btn' %>
    </div>
</div>